<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Heroes</h1>
<table class="styled-table" >
    <thead>
    <tr>
        <th>Alias</th>
        <th>AKA</th>
        <th>Alias</th>
        <th>Alias</th>
    </tr>
    </thead>
    <tr th:each="household : ${households}">
        <td th:text="${household.eircode}"></td>
        <td th:text="${household.numberOfOccupants}"></td>
        <td th:text="${household.maxNumberOfOccupants}"></td>
        <td th:text="${household.ownerOccupied ? 'Yes' : 'No'}"></td>
    </tr>
</table>
</body>
</html>